html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    background-color: #EDDEA4;
    font-family: 'Mooli', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

.drawArea {
    width: 802px;
    height: 802px;
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
    background-color: white;
}

.container {    
    display: flex;
    flex-direction: column;
}

.buttDiv {
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    margin-right: 50px;
}

.gameArea {
    display: flex;
    justify-content: center;
    margin-right: 10%;
}

.buttonko, .random, .gray {
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid #F7A072;
    margin: 15px;
    background-color: #B5E2FA;
}